.DS_Store
*~
*.pyc
*.o
*.so
*.mode1
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.orig
*#*#
.build/
build/
Debug-aspentsimulator/
Debug-iphonesimulator/
Debug-iphoneos/
Debug-toolchain/
Release-iphonesimulator/
Release-toolchain/
Release-iphoneos/
.vscode/